/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00796b;
    padding: 10px 20px;
    color: white;
}

.navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar .nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: color 0.3s ease;
}

.navbar .nav-links li a:hover {
    color: #FFD700;
}

/* Hero Section */
.hero-section {
    text-align: center;
    padding: 50px;
    background: linear-gradient(to bottom, #00796b, #004d40);
    color: white;
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2em;
}

/* About Section */
.about-section {
    padding: 40px 20px;
    text-align: center;
}

.about-section h2 {
    font-size: 2.5em;
    color: #00796b;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 1.2em;
}

/* Download Section */
.download-section {
    background-color: #ffffff;
    padding: 40px 20px;
    text-align: center;
}

.download-section h2 {
    color: #00796b;
    font-size: 2em;
    margin-bottom: 20px;
}

.download-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.download-button {
    background-color: #00796b;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 15px 40px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 30px; /* Moves the button down */
}

.download-button:hover {
    background-color: #004d40;
}

/* Privacy Policy Section */
.privacy-policy-section {
    padding: 40px 20px;
    text-align: center;
}

.privacy-policy-section h2 {
    font-size: 2.5em;
    color: #00796b;
    margin-bottom: 20px;
}

.privacy-policy-section p {
    font-size: 1.2em;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #00796b;
    color: white;
}
